.App {
  text-align: center;
  background-color: lightgreen;
}

.App__header--container {
  background-color: rgb(164, 243, 164);
  margin: 0;
}

.App__header--title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.App__header--subtitle {
  font-size: 0.8em;
}

.App__Segment {
  background-color: rgb(164, 243, 164) !important;
  padding-bottom: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.App__Footer {
  padding-top: 0.5em !important;
  margin-top: 0.5em !important;
}